<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="google" content="notranslate" />    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sports Trading Platform">
    <meta name="keyword" content="sports trading, bet, betfair">
    <meta name="robots" content="noindex" />

    <link rel="shortcut icon" href="/img/favicon/BetPro.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/img/sprites/css/sprite.css" />
    <link rel="stylesheet" href="/dist/site.css" />
    <link href="/css/BetPro-style.css" rel="stylesheet" />

    <title>Account Ledger | BetPro</title>
    <style>
        .body {
            min-height: 91.7vh;
        }

        center a {
            color: white;
        }

        center a {
            font-size: 13px;
        }
    </style>

    <script>
        const pricesUrl = "https://prices9.mgs11.com/api";
        const ordersUrl = "https://1XBETBACKEND.WORK.GD/api";
        const LiquidityRate = 35;
        const SsocketUrl = "https://orders-ws2.mgs11.com/signalr";
        const uwsUrl = "https://orders-ws2.mgs11.com/usershub";
        const genSck = 1;
        const CasSck = 1;
        const casinoUrl = "https://casino-ws.mgs11.com/signalr";
        // var SsocketEnable = 0;
    </script>
</head>
<body class="bg-gray d-flex flex-column" style="overflow-x:hidden;">
    <div class="main-page">
        <div class="row no-gutters">
            <div class="col-md-3 col-lg-2" id="sidebar">
                <div class="logo-bar">
                    <a href="/Common/Dashboard">
                        <span class="green-logo-text">BetPro</span>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="sidebar-menu" style="height:100%;">
                    <ul>
                        

<ul class="nav">



<style>

    @keyframes spin {
        from {
            transform: rotateY(0deg);
            moz-transform: rotateY(0deg);
            ms-transform: rotateY(0deg);
        }

        to {
            transform: rotateY(360deg);
            moz-transform: rotateY(360deg);
            ms-transform: rotateY(360deg);
        }
    }

    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotateY(0deg);
        }

        to {
            -webkit-transform: rotateY(360deg);
        }
    }

    .imageSpin {
        transition-delay: 5s;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-duration: inherit;
        -webkit-animation-name: spin;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: initial;
        -webkit-animation-duration: 4s;
        -webkit-animation-delay: 2s;
    }

    .imageSpin2 {
        transition-delay: 3s;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-duration: inherit;
        -webkit-animation-name: spin;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: initial;
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 2s;
    }
   

    /*for spin2*/
    #spinning-circle {
        animation-name: spinning-circle;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    @-webkit-keyframes spinning-circle {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    #invertcolor {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        animation-name: spinning-circle;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    #invertcolor2{
         filter: invert(100%);
        -webkit-filter: invert(100%);
       animation-name: spin;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        max-height:30px;
    }

    #invertcolor3 {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        max-height: 30px;
    }


 .exgameblinker{
   animation: animate 8s linear infinite;
 } 
  
 @keyframes animate{
   0%{
     background-color:red;
   }
   25%{
     background-color:inherit;
   }
   50%{
     background-color:inherit;
   }
   75%{
     background-color:inherit;
   }
   100%{
     background-color:red;
   }
 }

    .Galaxyblinker {
        position: relative;
        z-index: 0;
    }

        .Galaxyblinker::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: linear-gradient(90deg, #8a47ff 0%, #c36eff 100%);
            opacity: 1;
            animation: animateGradient 12s linear infinite;
            transition: opacity 0.5s ease;
        }

    @keyframes animateGradient {
        0%, 100%

    {
        opacity: 1;
    }

    25%, 50%, 75% {
        opacity: 0;
    }

    }
.cricketEventList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.match-card {
  /* background-color: #1a1a1a; */
  color: white;
  margin-bottom: 12px;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.05);
  transition: background 0.3s ease;
  cursor: pointer;
}

.match-card:hover {
  background-color: #2a2a2a;
}


</style>

    <li style="width:100%;">

            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="svg-soccer svg-soccer-dims svg-span" role="img"></span>
                <span>Soccer</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="nav">
                <ul class="sub-menu" href="#">

                    <li><a href="#"><strong>All Soccer</strong></a></li>
                    <li class="divider"></li>
                            <ul class="footballEventList">
                                </ul>
                </ul>
            </div>
        </li>
        <li style="width:100%;">

            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="svg-tennis svg-tennis-dims svg-span" role="img"></span>
                <span>Tennis</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="nav">
                <ul class="sub-menu" href="#">

                    <li><a href="#"><strong>All Tennis</strong></a></li>
                    <li class="divider"></li>
                            <ul class="tennisEventList">
                            </ul>
                            <!-- </li> -->
                </ul>
            </div>
        </li>
        <li style="width:100%;">

            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="svg-cricket svg-cricket-dims svg-span" role="img"></span>
                <span>Cricket</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="nav">
                <ul class="sub-menu" href="#">

                    <li><a href="#"><strong>All Cricket</strong></a></li>
                    <li class="divider"></li>
                            <ul class="cricketEventList ">
                                <!-- <a class="nav-link" href="/Common/market/?id=1.245405948"> -->
<!-- England v India                                </a> -->
                                </ul>
                            <!-- </li> -->
                </ul>
            </div>
        </li>
        <li style="width:100%;">

            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="svg-horse svg-horse-dims svg-span" role="img"></span>
                <span>Horse Race</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="nav">
                <ul class="sub-menu" href="#">

                    <li><a href="#"><strong>All Horse Race</strong></a></li>
                    <li class="divider"></li>
                            <ul class="horseEventList">
                                <!-- <a class="nav-link" href="/Common/market/?id=1.245481913"> -->
                                        <!-- <span class="market-time"> -->
                                        <!-- </span> -->
                                        <!-- <span class="d-none utctime" data-format="h:mm A"> -->
                                            <!-- 2025-07-10T11:50:00.0000000Z -->
                                        <!-- </span> -->
                                        <!-- <span class="race-venue">Turffontein (ZA)</span> -->
                                        </ul>
                
                            
                            
                
                                

                                        
                            
                            
                                    
    
                
                                            
                    

                                
                                
                
                        
                                
                </ul>
            </div>
        </li>
        <li style="width:100%;">

            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="svg-greyhound-racing svg-greyhound-racing-dims svg-span" role="img"></span>
                <span>Greyhound</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="nav">
                <ul class="sub-menu" href="#">

                    <li><a href="#"><strong>All Greyhound</strong></a></li>
                    <li class="divider"></li>
                            <ul class="greyhounditems">
                                <!-- <a class="nav-link" href="/Common/market/?id=1.245475078"> -->
                                        <!-- <span class="market-time"> -->
                                        <!-- </span> -->
                                        <!-- <span class="d-none utctime" data-format="h:mm A"> -->
                                            <!-- 2025-07-10T12:05:00.0000000Z -->
                                        <!-- </span> -->
                                        <!-- <span class="race-venue">Q1 Lakeside (AU)</span> -->
                                <!-- </a> -->
                            </ul>
                                        
                    
                </ul>
            </div>
        </li>


        <li class="nav-item" style="width:100%;">
            <a href="/Common/sap" class="dropdown-toggle" role="button">
                <span class="svg-Casino svg-Casino-dims imageSpin2" role="img"></span>
                <span>Sports Book</span>
            </a>
        </li>
        <li class="nav-item" style="width:100%;">
            <a href="/Common/RSC" class="dropdown-toggle" role="button">
                <i style="font-size:17px;" class='fas fa-star fa-2x fa-spin fa-lg'></i>
                <span>RoyalStar Casino</span>
            </a>
        </li>
        <li class="nav-item" style="width:100%;">
            <a href="/Common/Games" class="dropdown-toggle" role="button">
                <img id="spinning-circle" src="/img/v2/livegameing.png" onerror="this.onerror = null; this.src= null" alt="G">
                <span>Star Casino</span>
            </a>

        </li>
        <li class="nav-item" style="width:100%;">
            <a class="dropdown-toggle" role="button" href="/Common/WorldCasino">
                <img id="invertcolor" style="background:invert(100%)" src="/img/v2/worldcasinosvg.png" alt="WC" />
                <span>World Casino</span>
            </a>
        </li>
        <li class="nav-item" style="width:100%;">
            <a class="dropdown-toggle" role="button" href="/Common/Dream">
                <span class="svg-Casino svg-Casino-dims imageSpin2" role="img"></span>
                <span>Royal Casino</span>
            </a>
        </li>
        <li class="nav-item" style="width:100%;">
            <a class="dropdown-toggle" role="button" href="/Common/ExGames">
                <img id="invertcolor2" src="/img/v2/BLogo.png" />
                <span>BetFairGames</span>
            </a>
         </li>
        <li class="nav-item exgameblinker" style="width:100%;">
            <a class="dropdown-toggle" role="button" href="/Common/BetProGames">
                <img id="invertcolor3" src="/img/v2/TPS.png" />
                <span>TeenPatti Studio</span>
            </a>
        </li>
        <li class="nav-item Galaxyblinker" style="width:100%;">
            <a class="dropdown-toggle" role="button" href="/Common/Galaxy">
                <img src="/img/v2/Glogo.png" />
                <span>Galaxy Casino</span>
            </a>
        </li>

    <li class="divider"></li>
        <li class="nav-item" style="width:100%;">
            <a class="nav-link" href="/Customer/Liable">
                <span class="svg-colossus svg-colossus-dims svg-span" role="img"></span> 
                Current Position
            </a>
        </li>
        <li class="nav-item" style="width:100%;">
            <a class="nav-link" href="/Common/Dashboard">
                <span class="svg-soccer svg-soccer-dims svg-span" role="img"></span> 
                All Sports
            </a>
        </li>
        <li class="nav-item" style="width:100%;">
            <a class="nav-link" href="/Common/Result">
                <span class="svg-clipboard svg-clipboard-dims svg-span" role="img"></span> 
                Results
            </a>
        </li>
    <li class="nav-item" style="width:100%;">
        <a class="nav-link" href="#" onclick="ShowExchangeRules(); return false;">
            <i class="fa fa-info-circle"></i>Market Rules
        </a>
    </li>
    <li class="nav-item" style="width:100%;">
        <a class="nav-link" href="#" onclick="ShowTos(); return false;">
            <i class="fa fa-info-circle"></i>Terms &amp; Conditions
        </a>
    </li>
</ul>
<script>
    function ShowExchangeRules() {
        $("#modalMarketRules").modal('show');

        $.get("/rules.html", function (data) {
            $("#modalMarketRules .modal-body").html(data);
        });
    }

    function ShowTos() {
        $("#modalTos").modal('show');
        $.get("/tos.html", function (data) {
            $("#modalTos .modal-body").html(data);
        });
    }
</script>
                    </ul>
                </div>
            </div>

            <div class="col-md" id="main-wrap">
                <div class="header">
                    <button class="burger-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="top-nav">
                        <li><a href="/Common/Dashboard">Dashboard</a></li>
                    </ul>

                    <div id="sticky-footer" style="width:50vw; padding:0px; margin:0px; float:left; " class="py-1 bg-black text-white">
                        <div class="container text-center" style="padding:0px; margin:0px;">
                            <ul id="news-ticker-foot" style="padding:0px; margin:0px;">
                                <li data-update="item1" style="padding:0px; margin:0px;">Welcome to BetPro</li>
                            </ul>
                        </div>
                    </div>


                    <div class="dropdown-wrap">
                        <div class="dropdown">

                            <div class="designation">
                                <span class="wallet-balance">B: -</span>
                                <span class="wallet-exposure"> | L: - |</span>
                            </div>
 <button class="btn profile-dropdown dropdown-toggle" type="button"  id="navbar-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/Customer/Ledger/">Statement</a>
                                <a class="dropdown-item" href="/Common/Result/">Result</a>
                                <a class="dropdown-item" href="/Customer/ProfitLoss/">Profit Loss</a>
                                <a class="dropdown-item" href="/Customer/Bets">Bet History</a>
                                <a class="dropdown-item" href="/Customer/Profile">Profile</a>
                                <a class="dropdown-item" id="btn-logout" href="/Common/Logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-wrap body">
                    <link rel="stylesheet" type="text/css" href="/lib/datatables/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="/css/ledger.css" />
<style>
    /* Print/Excel/PDF buttons — dark gray pill container, jaisa reference design */
    div.dt-buttons {
        display: flex;
        background: #6c757d;
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
    }
    div.dt-buttons button.dt-button,
    div.dt-buttons a.dt-button {
        flex: 1;
        background: transparent !important;
        border: none !important;
        border-right: 1px solid rgba(255,255,255,0.25) !important;
        color: #fff !important;
        font-style: italic;
        font-weight: 500;
        padding: 10px 5px;
        margin: 0 !important;
        border-radius: 0 !important;
        text-align: center;
    }
    div.dt-buttons button.dt-button:last-child,
    div.dt-buttons a.dt-button:last-child {
        border-right: none !important;
    }
    div.dt-buttons button.dt-button:hover,
    div.dt-buttons a.dt-button:hover {
        background: rgba(255,255,255,0.12) !important;
        color: #fff !important;
    }
</style>

<div class="table-wrap">
    
<style>
    .datee {
        background-color: white;
    }
    @media screen and (max-width: 635px) {
        .editsbmtbtn {
            margin: auto;
            margin-right: 15px;
        }
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>
                Report Filter
            </div>
            <div class="card-body">
                <form id="ReportFilterForm" class="form-inline" method="get">
                    <div class="row" style="text-align-last:justify;">
                        <div class="col-12 col-md-5">
                            <div class="form-group">
                                <div class="input-group date" id="ReportFrom" data-target-input="nearest">
                                    <input type="text"
                                           class="form-control datetimepicker-input"
                                           data-target="#ReportFrom"
                                           id="DisplayFrom" />
                                    <div class="input-group-append" data-target="#ReportFrom" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                                <span class="market-time d-none"></span>
                                <span class="d-none utctime" data-nofirst="0" data-format="M/D/YYYY h:mm A">
                                    2025-06-20T19:00:00.0000000Z
                                </span>
                                <input type="hidden" name="From" id="From" value="2025-06-20T19:00:00.0000000Z" />
                            </div>
                        </div>

                        <strong style="margin:auto">&nbsp;-&nbsp;</strong>
                        <div class="col-12 col-md-5">
                            <div class="form-group">
                                <div class="input-group date" id="ReportTo" data-target-input="nearest">
                                    <input type="text"
                                           class="form-control datetimepicker-input"
                                           data-target="#ReportTo"
                                           id="DisplayTo" />
                                    <div class="input-group-append" data-target="#ReportTo" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                                <span class="market-time d-none"></span>
                                <span class="d-none utctime" data-nofirst="0" data-format="M/D/YYYY h:mm A">
                                    2025-06-21T18:59:59.0000000Z
                                </span>
                                <input type="hidden" name="To" id="To" value="2025-06-21T18:59:59.0000000Z" />
                            </div>
                        </div>

                        <div class="form-group editsbmtbtn">
                            <label class="mx-1"> </label>
                            <button class="btn btn-primary" type="submit" onclick="return updateDates();">
                                <strong>Submit</strong>
                            </button>
                        </div>
                        <input type="hidden" data-val="true" data-val-required="The ClientId field is required." id="ClientId" name="ClientId" value="5810548" />
                        <input type="hidden" data-val="true" data-val-required="The EventTypeId field is required." id="EventTypeId" name="EventTypeId" value="0" />
                        <input type="hidden" data-val="true" data-val-required="The IsFirstVisit field is required." id="IsFirstVisit" name="IsFirstVisit" value="True" />
                    </div>
                    <div class="row col-12">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
<!-- ═══════════════════════════════════════════════════════════
     BET DETAIL POPUP MODAL — statements.html jaisa UI
══════════════════════════════════════════════════════════════ -->
<div id="betDetailModal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%;
     background:rgba(0,0,0,0.6); z-index:9999; overflow-y:auto;">
  <div style="background:#fff; margin:30px auto; max-width:850px; border-radius:6px;
       box-shadow:0 8px 32px rgba(0,0,0,0.4); padding:0; overflow:hidden;">

    <!-- Header -->
    <div style="background:#1a2942; color:white; padding:14px 18px; display:flex;
         justify-content:space-between; align-items:center;">
      <h5 id="modalEventTitle" style="margin:0; font-size:15px; font-weight:700;"></h5>
      <button onclick="closeBetModal()" style="background:none; border:none; color:white;
              font-size:22px; cursor:pointer; line-height:1;">&times;</button>
    </div>

    <!-- Badges row -->
    <div style="background:#f8f9fa; padding:12px 18px; border-bottom:1px solid #dee2e6;">
      <div style="display:flex; flex-wrap:wrap; gap:12px; align-items:center;">
        <div>
          Winner
          <span id="modalWinner" class="badge badge-warning ml-1" style="font-size:13px;"></span>
        </div>
        <div>
          Net PL
          <span id="modalNetPL" class="badge ml-1" style="font-size:13px;"></span>
        </div>
        <div>
          Username
          <span id="modalUsername" class="badge badge-warning ml-1" style="font-size:13px;"></span>
        </div>
      </div>
    </div>

    <!-- Table -->
    <div style="padding:16px 18px; overflow-x:auto;">
      <table id="modalBetTable" class="table table-sm table-striped table-bordered nowrap"
             style="width:100%; font-size:13px;">
        <thead>
          <tr style="background:#1a2942; color:white;">
            <th>Runner</th>
            <th>Price</th>
            <th>Size</th>
            <th>Side</th>
            <th>P/L</th>
            <th>Placed At</th>
            <th>Matched At</th>
            <th>Settled At</th>
          </tr>
        </thead>
        <tbody id="modalBetTbody"></tbody>
      </table>
    </div>

    <!-- Commission row -->
    <div id="modalCommRow" style="display:none; padding:0 18px 16px;">
      <table class="table table-sm table-bordered" style="font-size:13px;">
        <tbody>
          <tr>
            <td>Commission (2.00%)</td>
            <td>0.0000</td><td>0</td>
            <td class="bg-danger" style="color:white;"><strong>C</strong></td>
            <td class="position-minus" id="modalCommAmt" style="color:red;"></td>
            <td colspan="3"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="padding:10px 18px; text-align:right; border-top:1px solid #dee2e6; background:#f8f9fa;">
      <button onclick="closeBetModal()" class="btn btn-secondary btn-sm">Close</button>
    </div>
  </div>
</div>

<div id="ledgerApp" class="table-wrap" style="max-width:100%; overflow-x:hidden;">
  <div>
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Account Ledger
      </div>
      <div class="card-body">

        <!-- Loading / Error states -->
        <div v-if="loading" style="color:#fff; padding:12px;">Loading statement...</div>
        <div v-if="error"   style="color:#e55; padding:12px;">{{ error }}</div>
        <div v-if="!loading && ledger.length <= 1" style="color:#aaa; padding:12px;">
          Koi settled bet nahi mili. Jab match close ho ga to yahan dikhega.
        </div>

        <table v-if="!loading && ledger.length > 0"
               id="tableLedger"
               class="table table-striped table-bordered"
               style="width:100%;">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, i) in ledger" :key="i"
                :style="{ fontWeight: row.isOpen ? '700' : '400' }">
              <td style="white-space:nowrap; vertical-align:middle;">
                <span v-if="row.amount > 0"
                      style="display:inline-flex;align-items:center;justify-content:center;width:20px;height:20px;border-radius:50%;background:#1a73e8;color:#fff;font-size:13px;font-weight:700;margin-right:4px;vertical-align:middle;">+</span>
                <span v-else-if="row.amount < 0"
                      style="display:inline-flex;align-items:center;justify-content:center;width:20px;height:20px;border-radius:50%;background:#e53935;color:#fff;font-size:13px;font-weight:700;margin-right:4px;vertical-align:middle;">&#8722;</span>
                {{ i + 1 }}
              </td>
              <td>{{ row.date }}</td>
              <td style="white-space:normal; word-break:break-word; max-width:250px;">
                <a href="#"
                   :style="{ textDecoration: (row.type === 'win' || row.type === 'loss') ? 'underline' : 'none',
                             cursor: (row.type === 'win' || row.type === 'loss') ? 'pointer' : 'default' }"
                   @click.prevent="(row.type === 'win' || row.type === 'loss') ? openBetDetail(row) : null">
                  {{ row.description }}
                </a>
              </td>
              <td :class="{'text-success': row.amount > 0, 'text-danger': row.amount < 0}">
                {{ (row.amount || 0).toLocaleString() }}
              </td>
              <td>{{ (row.balance || 0).toLocaleString() }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<script>
    function popup_report(vid, aid) {
        var url = "/Customer/Statements?VID=" + vid + "&AID=" + aid;
        newwindow = window.open(url, "Market Repo", 'height=500,width=700,titlebar=0,menubar=0');
        if (window.focus) { newwindow.focus() }
        return false;
    }
</script>

                </div>
            </div>
        </div>
    </div>

    <!-- Market Rules -->
    <div class="modal fade" id="modalMarketRules" tabindex="-1" role="dialog" aria-labelledby="modalMarketRules" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Market Rules</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="market-rules-text" class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <!-- ToS -->
    <div class="modal fade" id="
         " tabindex="-1" role="dialog" aria-labelledby="modalTos" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Terms and conditions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <b>Protection of minors</b>
                    <br />
                    <p> It is illegal for anybody under the age of 18 to gamble. </p>
                    <br />
                    <p>Our site has strict policies and verification measures to prevent access to minors.</p>
                    <br />
                    <p>We encourage parents consider the use of internet use protection tools. You may find the following links useful. </p>
                    <br />
                    <a href="https://www.cyberpatrol.com/" target="_blank" style="color:mediumspringgreen">  Cyberpatrol</a>
                    <br />
                    <a href="https://www.cybersitter.com/" target="_blank" style="color:mediumspringgreen">  Cybersitter </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <footer id="sticky-footer" class="py-1 bg-dark text-white-50 Bl_NT_SF">
        <div class="col-12 container" style="background-color:#4dbd74; height:6px; margin-top:-4px;">
        </div>
        <div class="container text-center">
            <center>
                    
<style>
    p{
        font-size:12px;
        color:white;
    }
    .caoimg{
        max-width:60px;
    }
    .bffooter{
                    width: 135px;
                    height: 30px;
            }
            .curasaoLinks {
               pointer-events: none;
               cursor: default;
               margin-top:10px;
            }
@media screen and (max-width: 635px) {
            .caoimg {
                max-width:40px;
            }
            .bffooter{
                    width: 100px;
                    height: 30px;
            }
        }
</style>


<div class="curasaoLinks row" style="display:inline-flex;" id="curacaodiv">
</div>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.querySelector('#curacaodiv').insertAdjacentHTML(
            'afterbegin',
            `<hr>
                <div class="col-sm-12 col-md-4"></div>
                <div class="col-md-4"></div>`);
    });
</script>

            </center>
           
        </div>
    </footer>
    <!-- ✅ Vue.js CDN — NEW VUE() se pehle load hona zaroori hai -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="https://wurfl.io/wurfl.js"></script>
    <script type="text/javascript" src="/dist/bundle0a.js"></script>
    <!-- ✅ DataTables — jQuery (bundle0a.js) ke turant baad load karo (CDN combined bundle: core+buttons+html5+print+responsive) -->
    <script type="text/javascript" src="/lib/datatables/datatables.min.js"></script>

    <script>
        const token = getCookie('wexscktoken');
        const sess = getCookie('wex3authtoken');
        const reft = getCookie('wex3reftoken');
    </script>
    <script>
// ✅ Statement Calendar: Aaj ki current date auto-set
(function() {
  const now = new Date();
  const fromDate = new Date(now); fromDate.setHours(0, 0, 0, 0);
  const toDate   = new Date(now); toDate.setHours(23, 59, 59, 0);

  // Locale format helper for datetimepicker display
  function fmtDisplay(d) {
    var mo = d.getMonth()+1, dy = d.getDate(), yr = d.getFullYear();
    var hr = d.getHours(), mn = d.getMinutes(), ampm = hr >= 12 ? 'PM' : 'AM';
    hr = hr % 12 || 12;
    return mo+"/"+dy+"/"+yr+" "+hr+":"+String(mn).padStart(2,'0')+" "+ampm;
  }

  document.addEventListener("DOMContentLoaded", function() {
    // Hidden inputs update
    var fi = document.getElementById("From");
    var ti = document.getElementById("To");
    if (fi) fi.value = fromDate.toISOString();
    if (ti) ti.value = toDate.toISOString();

    // Datetimepicker visible input bhi update karo
    var df = document.getElementById("DisplayFrom");
    var dt = document.getElementById("DisplayTo");
    if (df) df.value = fmtDisplay(fromDate);
    if (dt) dt.value = fmtDisplay(toDate);

    // datetimepicker plugin ko bhi update karo (agar load ho chuka ho)
    try {
      if (typeof $ !== 'undefined') {
        $('#ReportFrom').datetimepicker('date', fromDate);
        $('#ReportTo').datetimepicker('date', toDate);
      }
    } catch(e) {}
  });
})();

// ============================================================
// STATEMENT / LEDGER — SETTLED bets se account statement
// Uses /orders/settled API — winning_selection_id ke saath
// Balance + P&L accurately dikhata hai
// ============================================================
(function() {
  'use strict';

  const _STMT_API = "https://1XBETBACKEND.WORK.GD/api/v1";

  // ── DataTable init — statementold.html jaisa exact pattern (Print/Excel/PDF + mobile responsive) ──
  let _dtInitTries = 0;
  function initLedgerDataTable() {
    const $table = window.jQuery ? jQuery('#tableLedger') : null;

    if (!window.jQuery || !jQuery.fn.DataTable || !$table || $table.length === 0) {
      // jQuery/DataTables abhi load nahi hue ya table DOM mein nahi aaya — thodi der baad retry
      if (_dtInitTries < 20) {
        _dtInitTries++;
        setTimeout(initLedgerDataTable, 150);
      }
      return;
    }

    // Pehle se init hai to poora destroy karke clean table wapas lao
    // { remove: true } zaroori hai — warna purana corrupted header reh jaata hai
    if (jQuery.fn.DataTable.isDataTable('#tableLedger')) {
      $table.DataTable().destroy(true);
    }

    const username = (window._currentUser && window._currentUser.username) || 'User';

    const tblLed = $table.DataTable({
      "order": [[0, "asc"]],
      dom: "<'row'<'col-sm-2'l><'col-sm-5'B><'col-sm-5'f>>" +
           "<'row'<'col-sm-12'tr>>" +
           "<'row'<'col-sm-5'i><'col-sm-7'p>>",

      columnDefs: [
        { responsivePriority: 1, targets: 0 },
        { responsivePriority: 2, targets: 2 },
        { "type": "date", "targets": [1] }
      ],
      buttons: [
        {
          extend: 'print',
          text: '<i class=""> Print</i>',
          title: username + ' - Account Ledger',
          titleAttr: 'Copy'
        },
        {
          extend: 'excelHtml5',
          text: '<i class=""> Excel</i>',
          title: username + ' - Account Ledger',
          titleAttr: 'Excel'
        },
        {
          extend: 'pdfHtml5',
          text: '<i class=""> PDF</i>',
          title: username + ' - Account Ledger',
          titleAttr: 'PDF'
        }
      ]
    });

    // statementold.html jaisa hi — sirf mobile par Responsive plugin lagao,
    // desktop par normal table (horizontal scroll) rahegi.
    if (typeof IsMobile === 'function' && IsMobile()) {
      new $.fn.dataTable.Responsive(tblLed, {
        details: {
          display: $.fn.dataTable.Responsive.display.childRowImmediate
        }
      });
    }
  }

  new Vue({
    el: "#ledgerApp",
    data: {
      ledger: [],
      loading: false,
      error: null
    },
    methods: {
      async fetchLedger() {
        this.loading = true;
        this.error   = null;
        const token  = localStorage.getItem("token");
        if (!token) { this.loading = false; return; }

        try {
          // Step 1: User info
          const userRes  = await fetch(_STMT_API + "/users/me", {
            headers: { "Authorization": "Bearer " + token }
          });
          const userData = await userRes.json();
          const user     = userData?.data?.user || userData?.data || userData?.user || {};
          window._currentUser = user; // DataTable Print/Excel/PDF title ke liye
          // Current user ki ID — deposit filter ke liye
          const myUserId = String(user.id || user._id || "");

          // Step 2: Date filter
          const fromInput  = document.getElementById('From');
          const toInput    = document.getElementById('To');
          const filterFrom = fromInput ? new Date(fromInput.value) : null;
          const filterTo   = toInput   ? new Date(toInput.value)   : null;

          // Step 3: Settled bets fetch (sirf is user ke)
          let allSettledRaw = [];
          try {
            const res1 = await fetch(_STMT_API + "/orders/settled?limit=500", {
              headers: { "Authorization": "Bearer " + token }
            });
            const j1 = await res1.json();
            allSettledRaw = j1?.data?.orders || j1?.orders || [];
          } catch(e) { console.warn("[Statement] /orders/settled failed:", e.message); }

          // Step 4: Deposits fetch — multiple endpoints try karo
          let allDepositsRaw = [];
          const _DEP_EPS = [
            "/users/my-transactions?limit=500",
            "/users/transactions?limit=500",
            "/users/all-transactions?limit=500",
            "/transactions?limit=500",
          ];
          for (const ep of _DEP_EPS) {
            try {
              const r = await fetch(_STMT_API + ep, { headers: { "Authorization": "Bearer " + token } });
              if (!r.ok) continue;
              const j = await r.json();
              const arr = j?.data?.transactions || j?.transactions || j?.data || [];
              if (Array.isArray(arr) && arr.length > 0) {
                allDepositsRaw = arr;
                console.log("[Statement] Deposits via", ep, "count:", arr.length);
                break;
              }
            } catch(e) { console.warn("[Statement] dep endpoint failed:", ep); }
          }

          // ── P&L helper ────────────────────────────────────────
          function calcPnL(bet) {
            if (bet.settlementPnL !== null && bet.settlementPnL !== undefined)
              return parseFloat(bet.settlementPnL);
            const price = parseFloat(bet.price || 0);
            const size  = parseFloat(bet.matched || bet.size || 0);
            const isWin = String(bet.selection_id || bet.selectionId)
                        === String(bet.winning_selection_id || bet.winningSelectionId);
            const side  = (bet.side || "").toUpperCase();
            if (side === "B" || side === "BACK") return isWin ? (price - 1) * size : -size;
            else                                  return isWin ? -(price - 1) * size : size;
          }

          // ── Filter deposits: sirf is user ke, sirf deposit/credit type ─
          // Duplicate remove: id se bhi aur amount+timestamp se bhi (dono keys check karo)
          const seenDepIds  = new Set();
          const seenDepKeys = new Set(); // amount|timestamp dedupe
          const allDeposits = allDepositsRaw.filter(tx => {
            const t = (tx.type || "").toLowerCase();
            const isDepType = t === "deposit" || t === "credit-deposit" || t === "credit_deposit"
                           || t === "bet_placed" === false && t.includes("deposit");
            if (!isDepType) return false;
            // Sirf is user ko receive hone wale (to_user_id match kare ya user_id match kare)
            const toId = String(tx.to_user_id || tx.userId || tx.user_id || "");
            if (myUserId && toId && toId !== myUserId) return false;
            // Dedupe by id
            const uid = String(tx.id || tx._id || "");
            if (uid && seenDepIds.has(uid)) return false;
            if (uid) seenDepIds.add(uid);
            // Dedupe by amount+timestamp (same deposit 2 baar aane se rokta hai)
            const ts  = String(tx.created_at || tx.date || "").slice(0, 19); // seconds tak
            const amtKey = parseFloat(tx.amount || 0).toFixed(2) + "|" + ts;
            if (seenDepKeys.has(amtKey)) return false;
            seenDepKeys.add(amtKey);
            return true;
          }).sort((a, b) => new Date(a.created_at || a.date) - new Date(b.created_at || b.date));

          // ── Sort bets oldest first ────────────────────────────
          const allSettled = allSettledRaw
            .sort((a, b) => new Date(a.settled_at || a.updated_at) - new Date(b.settled_at || b.updated_at));

          // ── Opening Balance = sum of ALL deposits + bets BEFORE filterFrom ──
          // Naye account = 0 (koi cheez nahi before range)
          const depositsBeforeRange = allDeposits.filter(d => {
            if (!filterFrom) return false;
            return new Date(d.created_at || d.date) < filterFrom;
          });
          const betsBeforeRange = allSettled.filter(b => {
            if (!filterFrom) return false;
            return new Date(b.settled_at || b.updated_at || b.created_at) < filterFrom;
          });
          const openingBalance = parseFloat((
            depositsBeforeRange.reduce((s, d) => s + parseFloat(d.amount || 0), 0) +
            betsBeforeRange.reduce((s, b) => s + calcPnL(b), 0)
          ).toFixed(2));
          let runningBalance = openingBalance;

          // ── Date-range filter ─────────────────────────────────
          const settled = allSettled.filter(bet => {
            if (!filterFrom || !filterTo) return true;
            const d = new Date(bet.settled_at || bet.updated_at || bet.created_at);
            return d >= filterFrom && d <= filterTo;
          });
          const deposits = allDeposits.filter(dep => {
            if (!filterFrom || !filterTo) return true;
            const d = new Date(dep.created_at || dep.date);
            return d >= filterFrom && d <= filterTo;
          });

          // ── Opening Balance row ───────────────────────────────
          const rows = [{
            date:        filterFrom ? filterFrom.toLocaleString() : new Date(user.created_at || Date.now()).toLocaleString(),
            description: "Opening Balance",
            amount:      0,
            balance:     openingBalance,
            isOpen:      true,
            type:        'open'
          }];

          // ── Merge deposits + bets by date ─────────────────────
          const allEvents = [
            ...deposits.map(d => ({ _type: 'deposit', _date: new Date(d.created_at || d.date), _data: d })),
            ...settled.map(b  => ({ _type: 'bet',     _date: new Date(b.settled_at || b.updated_at || b.created_at), _data: b }))
          ].sort((a, b) => a._date - b._date);

          // ── Group same-event bets ─────────────────────────────
          const processedEvents = [];
          let idx = 0;
          while (idx < allEvents.length) {
            const ev = allEvents[idx];
            if (ev._type === 'deposit') {
              processedEvents.push(ev);
              idx++;
            } else {
              const bet      = ev._data;
              const eventKey = (bet.event_name || bet.eventName || "").trim();
              const day      = ev._date.toDateString();
              const grp      = [bet];
              let j = idx + 1;
              while (j < allEvents.length && allEvents[j]._type === 'bet') {
                const nb = allEvents[j]._data;
                if ((nb.event_name || nb.eventName || "").trim() === eventKey &&
                    allEvents[j]._date.toDateString() === day) {
                  grp.push(nb); j++;
                } else break;
              }
              processedEvents.push({ _type: 'bet_group', _date: ev._date, _bets: grp });
              idx = j;
            }
          }

          const COMMISSION_PCT = 2; // 2% commission on winning bets

          // ── Build rows ────────────────────────────────────────
          for (const ev of processedEvents) {
            if (ev._type === 'deposit') {
              const depAmount = parseFloat(ev._data.amount || 0);
              runningBalance  = parseFloat((runningBalance + depAmount).toFixed(2));
              const uname     = user.username || user.name || "User";
              rows.push({
                date:        ev._date.toLocaleString(),
                description: "Cash deposit in " + uname + " (Cash)",
                amount:      depAmount,
                balance:     runningBalance,
                isOpen:      false,
                type:        'deposit',
                _bets:       [],
                _eventName:  '',
                _commission: 0
              });
            } else {
              const grossPnl   = parseFloat(ev._bets.reduce((s, b) => s + calcPnL(b), 0).toFixed(2));
              const commission = grossPnl > 0
                ? parseFloat((grossPnl * COMMISSION_PCT / 100).toFixed(2))
                : 0;
              const netPnl     = parseFloat((grossPnl - commission).toFixed(2));
              runningBalance   = parseFloat((runningBalance + netPnl).toFixed(2));
              const first     = ev._bets[0];
              const eventName = first.event_name || first.eventName || "Match Result";
              const runners   = [...new Set(ev._bets.map(b => b.runner_name || b.runnerName || "").filter(Boolean))].join(", ");
              const sideChar  = (first.side || "B").toUpperCase() === "LAY" ? "L" : "B";
              const avgPrice  = (ev._bets.reduce((s, b) => s + parseFloat(b.price || 0), 0) / ev._bets.length).toFixed(2);
              const pnlLabel  = netPnl > 0 ? "Profit: +" + netPnl.toFixed(2)
                              : netPnl < 0 ? "Loss: "    + netPnl.toFixed(2) : "Break Even";
              rows.push({
                date:        ev._date.toLocaleString(),
                description: eventName + (runners ? " – " + runners : "")
                           + " (" + sideChar + "@" + avgPrice + ") | " + pnlLabel,
                amount:      netPnl,
                balance:     runningBalance,
                isOpen:      false,
                type:        netPnl >= 0 ? 'win' : 'loss',
                _bets:       ev._bets,
                _eventName:  eventName,
                _grossPnl:   grossPnl,
                _commission: commission,
                _netPnl:     netPnl,
                _username:   user.username || user.name || "User"
              });
            }
          }

          if (rows.length === 1) {
            rows.push({ date: (filterFrom || new Date()).toLocaleString(),
              description: "Koi settled bet nahi mili. Jab match close ho ga to yahan dikhega.",
              amount: 0, balance: openingBalance, isOpen: false, type: 'info' });
          }

          this.ledger = rows;

          // ✅ DataTable init karo — Vue render complete hone ke baad
          // (responsive: true => mobile pe card-stack view, jaise screenshot mein)
          this.$nextTick(() => {
            initLedgerDataTable();
          });

        } catch (err) {
          console.error("Error fetching ledger:", err);
          this.error = "Statement load karne mein masla aaya.";
        } finally {
          this.loading = false;
        }
      },

      openBetDetail(row) {
        if (!row._bets || row._bets.length === 0) return;

        // Data sessionStorage mein save karo
        try {
          sessionStorage.setItem('betDetailRow', JSON.stringify({
            _eventName:  row._eventName  || '',
            _grossPnl:   row._grossPnl   || 0,
            _commission: row._commission || 0,
            _netPnl:     row._netPnl     || row.amount || 0,
            _username:   row._username   || 'User',
            _bets: row._bets.map(function(b) { return {
              runner_name:          b.runner_name   || b.runnerName   || '',
              price:                b.price,
              size:                 b.matched || b.size,
              side:                 b.side,
              settlementPnL:        b.settlementPnL,
              selection_id:         b.selection_id  || b.selectionId,
              winning_selection_id: b.winning_selection_id || b.winningSelectionId,
              created_at:           b.created_at    || b.placedDate,
              updated_at:           b.updated_at,
              settled_at:           b.settled_at,
              request_id:           b.request_id    || b.id || ''
            }; })
          }));
        } catch(e) { console.warn('sessionStorage error:', e); }

        // Mobile + PC dono redirect
        window.location.href = '/Customer/Statements';
      }
    },
    mounted() {
      this.fetchLedger();

      // Socket: settlement ke baad ledger refresh ho
      if (typeof io !== 'undefined') {
        try {
          const _sock = io("https://1xbetbackend.work.gd");
          const _tk   = localStorage.getItem("token");

          // ── User room join karo ──
          // Server pe "JoinUserRoom" event hai (server.js dekho)
          _sock.on("connect", () => {
            if (_tk) {
              try {
                const payload = JSON.parse(atob(_tk.split('.')[1]));
                const uid = payload.id || payload.userId || payload.sub;
                if (uid) {
                  _sock.emit("JoinUserRoom", uid);
                  console.log("[Statement] JoinUserRoom:", uid);
                }
              } catch(e) { console.warn("[Statement] userId extract failed:", e.message); }
            }
          });

          _sock.on("marketSettled", () => {
            console.log("[Statement] marketSettled — refreshing ledger");
            this.fetchLedger();
          });
          _sock.on("userUpdated", (data) => {
            if (data && (data.event === 'settlement' || data.event === 'void')) {
              console.log("[Statement] userUpdated", data.event, "— refreshing ledger");
              this.fetchLedger();
            }
          });
        } catch(e) { console.warn("[Statement] Socket init failed:", e.message); }
      }
    }
  });
})();

// ── Bet Detail Modal — open/close helpers ─────────────────────
window.closeBetModal = function() {
  document.getElementById('betDetailModal').style.display = 'none';
  document.body.style.overflow = '';
};
// ESC key se band karo
document.addEventListener('keydown', function(e) {
  if (e.key === 'Escape') window.closeBetModal();
});
// Modal background click se band karo
document.getElementById('betDetailModal').addEventListener('click', function(e) {
  if (e.target === this) window.closeBetModal();
});

// ✅ Submit button: dates update karo aur Vue ledger refresh karo (page reload nahi)
window.updateDates = function() {
  // datetimepicker se hidden inputs already update ho jaate hain via datetimepicker events
  // Sirf Vue instance ka fetchLedger call karna hai
  setTimeout(function() {
    var vueApp = document.getElementById('ledgerApp')?.__vue__;
    if (vueApp && vueApp.fetchLedger) {
      vueApp.fetchLedger();
    }
  }, 100);
  return false; // form submit rokein
};

</script>

<!-- Vue CDN upar load ho chuka hai -->
    <script type="text/javascript" src="https://wurfl.io/wurfl.js"></script>
    <script type="text/javascript" src="/dist/bundle0a.js"></script>

    <script>
        const token = getCookie('wexscktoken');
        const sess = getCookie('wex3authtoken');
        const reft = getCookie('wex3reftoken');
    </script>

    <script>
        $(document).ready(function () {
            pollRefreshToken();
        });
        if (genSck === 1) {
            const signalRConnection = new UWS(uwsUrl, token, sess);
            signalRConnection.connect();
        } else {
            pollUserData();
        }
    </script>
       <script>
document.addEventListener("DOMContentLoaded", async () => {
  const token = localStorage.getItem("token");
  if (!token) return;

  try {
    const res = await fetch("https://1xbetbackend.work.gd/api/v1/auth/me", {
      headers: { "Authorization": "Bearer " + token }
    });
    const data = await res.json();
    console.log("Latest user info:", data);

    if (data.success && data.data) {
      const user = data.data.user;

      // Update username in navbar
      const userBtn = document.getElementById("navbar-user");
      if (userBtn)
        userBtn.innerHTML = `${user.username} (${user.role}) <i class="fas fa-caret-down"></i>`;

      // Update wallet balance
      const walletBalance = document.querySelector(".wallet-balance");
      if (walletBalance) walletBalance.textContent = `B: ${Math.floor(user.wallet_balance ?? 0)}`;

      // Update wallet exposure/liable
      const walletExposure = document.querySelector(".wallet-exposure");
      if (walletExposure) walletExposure.textContent = ` | L: -${Math.floor(user.liable ?? 0)}`;

      // Optional extra fields if present on page
      const creditEl = document.querySelector(".user-credit");
      const balanceEl = document.querySelector(".user-balance");
      const liableEl = document.querySelector(".user-liable");
      const betsEl = document.querySelector(".user-bets");

      if (creditEl) creditEl.textContent = `Credit: ${user.credit_balance ?? 0}`;
      if (balanceEl) balanceEl.textContent = `Balance: ${Math.floor(user.wallet_balance ?? 0)}`;
      if (liableEl) liableEl.textContent = `Liable: ${Math.floor(user.liable ?? 0)}`;
      if (betsEl) betsEl.textContent = `Active Bets: ${user.active_bets ?? 0}`;
    }

  } catch (err) {
    console.error("⚠️ Error loading latest user info:", err);
  }
});
</script>
</body>
</html>
